In [2]:
import pandas as pd
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

In [13]:
scaler=StandardScaler()

In [7]:
df=pd.read_csv("../data/data.csv")

In [9]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [11]:
X=df[['Weight', 'Volume']]

In [15]:
scalerX=scaler.fit_transform(X) # .fit_transform -> Dopasuj do danych, a następnie przekształć je.

In [16]:
print(scalerX)

[[-2.10389253 -1.59336644]
 [-0.55407235 -1.07190106]
 [-1.52166278 -1.59336644]
 [-1.78973979 -1.85409913]
 [-0.63784641 -0.28970299]
 [-1.52166278 -1.59336644]
 [-0.76769621 -0.55043568]
 [ 0.3046118  -0.28970299]
 [-0.7551301  -0.28970299]
 [-0.59595938 -0.0289703 ]
 [-1.30803892 -1.33263375]
 [-1.26615189 -0.81116837]
 [-0.7551301  -1.59336644]
 [-0.16871166 -0.0289703 ]
 [ 0.14125238 -0.0289703 ]
 [ 0.15800719 -0.0289703 ]
 [ 0.3046118  -0.0289703 ]
 [-0.05142797  1.53542584]
 [-0.72580918 -0.0289703 ]
 [ 0.14962979  1.01396046]
 [ 1.2219378  -0.0289703 ]
 [ 0.5685001   1.01396046]
 [ 0.3046118   1.27469315]
 [ 0.51404696 -0.0289703 ]
 [ 0.51404696  1.01396046]
 [ 0.72348212 -0.28970299]
 [ 0.8281997   1.01396046]
 [ 1.81254495  1.01396046]
 [ 0.96642691 -0.0289703 ]
 [ 1.72877089  1.01396046]
 [ 1.30990057  1.27469315]
 [ 1.90050772  1.01396046]
 [-0.23991961 -0.0289703 ]
 [ 0.40932938 -0.0289703 ]
 [ 0.47215993 -0.0289703 ]
 [ 0.4302729   2.31762392]]

In [ ]:
#Zadanie:  Przewiduj emisję CO2 z samochodu o pojemności 1,3 litra, który waży 2300 kilogramów:

In [19]:
W=df[['Weight', 'Volume']]

In [18]:
y=df['CO2']

In [20]:
scalerW=scaler.fit_transform(W)

In [23]:
reg=linear_model.LinearRegression()
reg.fit(scalerW,y)

LinearRegression()

In [25]:
scaler=scaler.transform([[2300,1.3]])

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [28]:
predictedCO2 = reg.predict([scaler[0]])

In [29]:
print(predictedCO2)

[97.07204485]